# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who:
   - have a **low total_claim_amount** (e.g., below $1,000),
   - have a response "Yes" to the last marketing campaign.

2. Using the original Dataframe, analyze:
   - the average `monthly_premium` and/or customer lifetime value by `policy_type` and `gender` for customers who responded "Yes", and
   - compare these insights to `total_claim_amount` patterns, and discuss which segments appear most profitable or low-risk for the company.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [42]:
# your code goes here
# Data Inspection Script
# url: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import warnings
warnings.filterwarnings('ignore')
df = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv')
print(df.head())
print(df.shape)
print(df.info())
print(df.describe())
print(df.isnull().sum())
print(df.columns)
print(df.dtypes)
print(df.nunique())

# print unique values for each column
for col in df.columns:
    print(f"\nUnique values in column {col}: {df[col].unique()}")

   Unnamed: 0 Customer       State  Customer Lifetime Value Response  \
0           0  DK49336     Arizona              4809.216960       No
1           1  KX64629  California              2228.525238       No
2           2  LZ68649  Washington             14947.917300       No
3           3  XL78013      Oregon             22332.439460      Yes
4           4  QA50777      Oregon              9025.067525       No

   Coverage Education Effective To Date EmploymentStatus Gender  ...  \
0     Basic   College           2/18/11         Employed      M  ...
1     Basic   College           1/18/11       Unemployed      F  ...
2     Basic  Bachelor           2/10/11         Employed      M  ...
3  Extended   College           1/11/11         Employed      M  ...
4   Premium  Bachelor           1/17/11    Medical Leave      F  ...

   Number of Open Complaints Number of Policies     Policy Type        Policy  \
0                        0.0                  9  Corporate Auto  Corporate L3
1                        0.0                  1   Personal Auto   Personal L3
2                        0.0                  2   Personal Auto   Personal L3
3                        0.0                  2  Corporate Auto  Corporate L3
4                        NaN                  7   Personal Auto   Personal L2

   Renew Offer Type  Sales Channel  Total Claim Amount  Vehicle Class  \
0            Offer3          Agent          292.800000  Four-Door Car
1            Offer4    Call Center          744.924331  Four-Door Car
2            Offer3    Call Center          480.000000            SUV
3            Offer2         Branch          484.013411  Four-Door Car
4            Offer1         Branch          707.925645  Four-Door Car

  Vehicle Size Vehicle Type
0      Medsize          NaN
1      Medsize          NaN
2      Medsize            A
3      Medsize            A
4      Medsize          NaN

[5 rows x 26 columns]
(10910, 26)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 26 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     10910 non-null  int64
 1   Customer                       10910 non-null  object
 2   State                          10279 non-null  object
 3   Customer Lifetime Value        10910 non-null  float64
 4   Response                       10279 non-null  object
 5   Coverage                       10910 non-null  object
 6   Education                      10910 non-null  object
 7   Effective To Date              10910 non-null  object
 8   EmploymentStatus               10910 non-null  object
 9   Gender                         10910 non-null  object
 10  Income                         10910 non-null  int64
 11  Location Code                  10910 non-null  object
 12  Marital Status                 10910 non-null  object
 13  Monthly Premium Auto           10910 non-null  int64
 14  Months Since Last Claim        10277 non-null  float64
 15  Months Since Policy Inception  10910 non-null  int64
 16  Number of Open Complaints      10277 non-null  float64
 17  Number of Policies             10910 non-null  int64
 18  Policy Type                    10910 non-null  object
 19  Policy                         10910 non-null  object
 20  Renew Offer Type               10910 non-null  object
 21  Sales Channel                  10910 non-null  object
 22  Total Claim Amount             10910 non-null  float64
 23  Vehicle Class                  10288 non-null  object
 24  Vehicle Size                   10288 non-null  object
 25  Vehicle Type                   5428 non-null   object
dtypes: float64(4), int64(5), object(17)
memory usage: 2.2+ MB
None
         Unnamed: 0  Customer Lifetime Value        Income  \
count  10910.000000             10910.000000  10910.000000
mean    5454.500000              8018.241094  37536.284785
std     3149.590053              6885.081434  30359.195670
min        0.000000              1898.007675      0.000000
25%     2727.250000              4014.453113      0.000000
50%     5454.500000              5771.147235  33813.500000
75%     8181.750000              8992.779137  62250.750000
max    10909.000000             83325.381190  99981.000000

       Monthly Premium Auto  Months Since Last Claim  \
count          10910.000000             10277.000000
mean              93.196059                15.149071
std               34.442532                10.080349
min               61.000000                 0.000000
25%               68.000000                 6.000000
50%               83.000000                14.000000
75%              109.000000                23.000000
max              298.000000                35.000000

       Months Since Policy Inception  Number of Open Complaints  \
count                   10910.000000               10277.000000
mean                       48.091934                   0.384256
std                        27.940675                   0.912457
min                         0.000000                   0.000000
25%                        24.000000                   0.000000
50%                        48.000000                   0.000000
75%                        71.000000                   0.000000
max                        99.000000                   5.000000

       Number of Policies  Total Claim Amount
count        10910.000000        10910.000000
mean             2.979193          434.888330
std              2.399359          292.180556
min              1.000000            0.099007
25%              1.000000          271.082527
50%              2.000000          382.564630
75%              4.000000          547.200000
max              9.000000         2893.239678
Unnamed: 0                          0
Customer                            0
State                             631
Customer Lifetime Value             0
Response                          631
Coverage                            0
Education                           0
Effective To Date                   0
EmploymentStatus                    0
Gender                              0
Income                              0
Location Code                       0
Marital Status                      0
Monthly Premium Auto                0
Months Since Last Claim           633
Months Since Policy Inception       0
Number of Open Complaints         633
Number of Policies                  0
Policy Type                         0
Policy                              0
Renew Offer Type                    0
Sales Channel                       0
Total Claim Amount                  0
Vehicle Class                     622
Vehicle Size                      622
Vehicle Type                     5482
dtype: int64
Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')
Unnamed: 0                         int64
Customer                          object
State                             object
Customer Lifetime Value          float64
Response                          object
Coverage                          object
Education                         object
Effective To Date                 object
EmploymentStatus                  object
Gender                            object
Income                             int64
Location Code                     object
Marital Status                    object
Monthly Premium Auto               int64
Months Since Last Claim          float64
Months Since Policy Inception      int64
Number of Open Complaints        float64
Number of Policies                 int64
Policy Type                       object
Policy                            object
Renew Offer Type                  object
Sales Channel                     object
Total Claim Amount               float64
Vehicle Class                     object
Vehicle Size                      object
Vehicle Type                      object
dtype: object
Unnamed: 0                       10910
Customer                          9134
State                                5
Customer Lifetime Value           8041
Response                             2
Coverage                             3
Education                            5
Effective To Date                   59
EmploymentStatus                     5
Gender                               2
Income                            5694
Location Code                        3
Marital Status                       3
Monthly Premium Auto               202
Months Since Last Claim             36
Months Since Policy Inception      100
Number of Open Complaints            6
Number of Policies                   9
Policy Type                          3
Policy                               9
Renew Offer Type                     4
Sales Channel                        4
Total Claim Amount                5106
Vehicle Class                        6
Vehicle Size                         3
Vehicle Type                         1
dtype: int64

Unique values in column Unnamed: 0: [    0     1     2 ... 10907 10908 10909]

Unique values in column Customer: ['DK49336' 'KX64629' 'LZ68649' ... 'KX53892' 'TL39050' 'WA60547']

Unique values in column State: ['Arizona' 'California' 'Washington' 'Oregon' nan 'Nevada']

Unique values in column Customer Lifetime Value: [ 4809.21696   2228.525238 14947.9173   ...  5259.444853 23893.3041
 11971.97765 ]

Unique values in column Response: ['No' 'Yes' nan]

Unique values in column Coverage: ['Basic' 'Extended' 'Premium']

Unique values in column Education: ['College' 'Bachelor' 'High School or Below' 'Doctor' 'Master']

Unique values in column Effective To Date: ['2/18/11' '1/18/11' '2/10/11' '1/11/11' '1/17/11' '2/14/11' '2/24/11'
 '1/19/11' '1/4/11' '1/2/11' '2/7/11' '1/31/11' '1/26/11' '2/28/11'
 '1/16/11' '2/26/11' '2/23/11' '1/15/11' '2/2/11' '2/15/11' '1/24/11'
 '2/21/11' '2/22/11' '1/7/11' '1/28/11' '2/8/11' '2/12/11' '2/20/11'
 '1/5/11' '2/19/11' '1/3/11' '2/3/11' '1/22/11' '1/23/11' '2/5/11'
 '2/13/11' '1/25/11' '2/16/11' '2/1/11' '1/27/11' '1/12/11' '1/20/11'
 '2/6/11' '2/11/11' '1/21/11' '1/29/11' '1/9/11' '2/9/11' '2/27/11'
 '1/1/11' '2/17/11' '2/25/11' '1/13/11' '1/6/11' '2/4/11' '1/14/11'
 '1/10/11' '1/8/11' '1/30/11']

Unique values in column EmploymentStatus: ['Employed' 'Unemployed' 'Medical Leave' 'Disabled' 'Retired']

Unique values in column Gender: ['M' 'F']

Unique values in column Income: [48029     0 22139 ... 61146 39837 64195]

Unique values in column Location Code: ['Suburban' 'Urban' 'Rural']

Unique values in column Marital Status: ['Married' 'Single' 'Divorced']

Unique values in column Monthly Premium Auto: [ 61  64 100  97 117  63 154  85 127  62  99  69 116 114  66  73  94 104
 189  74 121 110 111  72 115 159 101  65  82  71 126  68 199  96  67 125
 249 105  92  78  77  79 223 242  70 102 109 107 119 194 113 106 247  80
  86  81  83 122 253 196 132 139  84 130  93 103 112 222 118  88 182 283
  90 128  89 235 190  76  87 133 153 129  98 148 123  91 211 131 108 187
 214 181 173 252  95 124 137 145 188 143 198 138 245 195 186 170 136 161
 157 141 205 271 192 142 140 134 240 185 244 210 184 202 296 213 273 219
 135 169 155 225 266 215 197 256 212 158 180 166 168 183 162 191 179 150
 146 276 165 239 237 193 229 274 207 295 208 172 217 206 201 171 152 156
 174 238 167 151 144 163 287 209 290 220 228 232 178 177 275 176 281 149
 298 255 216 285 226 160 147 254 164 175 297 234 284 204 218 261 231 248
 286 230 268 203]

Unique values in column Months Since Last Claim: [ 7.  3. 34. 10. nan  2.  8. 35. 33. 19. 13.  5. 24. 25.  6. 20. 26. 14.
  9. 29. 11.  1. 18. 16. 30. 12.  4. 22. 31. 21. 28. 17. 15. 32. 23. 27.
  0.]

Unique values in column Months Since Policy Inception: [52 26 31  3 73 99 45 24  8 29 32 25 28 87 10 74  1 38 58 37  7 80 95 78
 63 27 97 39 11 59 46 62 13 54 51 22 82 91 44 43 76 48 84  6 92 12 61  4
 18 66 70 16 75 34 35 64  9 89  0 60 71 23 55 93  2 67 81 40 57 86 19 72
 69 33 47 42 17 49 21 83 94 30 15 50 53 77 41 90  5 79 56 98 20 88 65 14
 85 96 36 68]

Unique values in column Number of Open Complaints: [ 0. nan  3.  1.  2.  4.  5.]

Unique values in column Number of Policies: [9 1 2 7 4 3 6 8 5]

Unique values in column Policy Type: ['Corporate Auto' 'Personal Auto' 'Special Auto']

Unique values in column Policy: ['Corporate L3' 'Personal L3' 'Personal L2' 'Corporate L2' 'Personal L1'
 'Special L1' 'Corporate L1' 'Special L3' 'Special L2']

Unique values in column Renew Offer Type: ['Offer3' 'Offer4' 'Offer2' 'Offer1']

Unique values in column Sales Channel: ['Agent' 'Call Center' 'Branch' 'Web']

Unique values in column Total Claim Amount: [292.8      744.924331 480.       ... 273.018929 381.306996 618.288849]

Unique values in column Vehicle Class: ['Four-Door Car' 'SUV' 'Two-Door Car' 'Sports Car' 'Luxury Car'
 'Luxury SUV' nan]

Unique values in column Vehicle Size: ['Medsize' 'Small' 'Large' nan]

Unique values in column Vehicle Type: [nan 'A']

In [43]:
# Data Cleaning
# -----------------------
# Drop Unnamed: 0
# Standardize column names

df = df.drop(columns=["Unnamed: 0"], errors="ignore")

df.columns = (
    df.columns
      .str.lower()
      .str.replace(" ", "_", regex=False)
)

# Quick check
print(df.shape)
df.head()

(10910, 25)

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [44]:
df["number_of_open_complaints"].dtype

dtype('float64')

At this stage, the dataset has appropriate data types and standardized categorical values to proceed with filtering and aggregation tasks.
>
Minor inconsistencies (e.g., NaN values or float representation of count data) do not affect the current analysis.

In [45]:
# Task 1: Filter: low total_claim_amount + response "Yes"
# Create a new DataFrame with customers who:
# - Have low total_claim_amount (below 1000)
# - Responded "Yes" to the last marketing campaign


filtered_df = df[
    (df["total_claim_amount"] < 1000) &
    (df["response"] == "Yes")
]

filtered_df.head()
filtered_df.shape

print(filtered_df.shape)
print(filtered_df.head())

# save filtered_df to a csv file
filtered_df.to_csv("filtered_customers.csv", index=False)

# Filter customers who responded "Yes" and have total_claim_amount below 1000 (low-claim responders)

(1399, 25)
   customer       state  customer_lifetime_value response  coverage education  \
3   XL78013      Oregon             22332.439460      Yes  Extended   College
8   FM55990  California              5989.773931      Yes   Premium   College
15  CW49887  California              4626.801093      Yes     Basic    Master
19  NJ54277  California              3746.751625      Yes  Extended   College
27  MQ68407      Oregon              4376.363592      Yes   Premium  Bachelor

   effective_to_date employmentstatus gender  income  ...  \
3            1/11/11         Employed      M   49078  ...
8            1/19/11         Employed      M   66839  ...
15           1/16/11         Employed      F   79487  ...
19           2/26/11         Employed      F   41479  ...
27           2/28/11         Employed      F   63774  ...

   number_of_open_complaints number_of_policies     policy_type        policy  \
3                        0.0                  2  Corporate Auto  Corporate L3
8                        0.0                  1   Personal Auto   Personal L1
15                       0.0                  1    Special Auto    Special L1
19                       1.0                  1   Personal Auto   Personal L2
27                       0.0                  1   Personal Auto   Personal L3

    renew_offer_type  sales_channel  total_claim_amount  vehicle_class  \
3             Offer2         Branch          484.013411  Four-Door Car
8             Offer2         Branch          739.200000     Sports Car
15            Offer2         Branch          547.200000            SUV
19            Offer2    Call Center           19.575683   Two-Door Car
27            Offer2          Agent           60.036683  Four-Door Car

   vehicle_size vehicle_type
3       Medsize            A
8       Medsize          NaN
15      Medsize          NaN
19        Large            A
27      Medsize          NaN

[5 rows x 25 columns]

In [46]:
# Task 2: Analyze average monthly premium and/or CLV by policy_type & gender (Response == "Yes") + compare with claims
# Using the original Dataframe, analyze:
# - the average `monthly_premium` and/or customer lifetime value by `policy_type` and `gender` for customers who responded "Yes", and
# - compare these insights to `total_claim_amount` patterns, and discuss which segments appear most profitable or low-risk for the company.

yes_responders = df[df["response"] == "Yes"]
grouped_analysis = (
    yes_responders
    .groupby(["policy_type", "gender"], as_index=False)
    .agg({
        "monthly_premium_auto": "mean",
        "customer_lifetime_value": "mean",
        "total_claim_amount": "mean"
    })
    .round(2)
)


print(grouped_analysis.sort_values("customer_lifetime_value", ascending=False))

      policy_type gender  monthly_premium_auto  customer_lifetime_value  \
2   Personal Auto      F                 99.00                  8339.79
5    Special Auto      M                 86.34                  8247.09
1  Corporate Auto      M                 92.19                  7944.47
0  Corporate Auto      F                 94.30                  7712.63
4    Special Auto      F                 92.31                  7691.58
3   Personal Auto      M                 91.09                  7448.38

   total_claim_amount
2              452.97
5              429.53
1              408.58
0              433.74
4              453.28
3              457.01

In [47]:
# Task 3: Analyzeustomers per state, keep only states with > 500 customers
# Using the original Dataframe, analyze the total number of customers who have policies in each state, 
# and then filter the results to only include states where there are more than 500 customers.

state_customer_counts = df['state'].value_counts()
filtered_states = state_customer_counts[state_customer_counts > 500]
print(filtered_states)

state
California    3552
Oregon        2909
Arizona       1937
Nevada         993
Washington     888
Name: count, dtype: int64

**Insights:**
>
California has the highest number of customers, followed by Oregon and Arizona.
>
All states in the dataset have more than 500 customers, indicating a strong geographic coverage across the analyzed regions.

In [48]:
# Task 4: Analyze Min, Max, Median CLV by education level and gender
# Using the original Dataframe, find the maximum, minimum, and median customer lifetime value 
# by education level and gender. 
# Write your conclusions.
clv_stats = (
    df
    .groupby(["education", "gender"], as_index=False)
    .agg({      
        "customer_lifetime_value": ["min", "max", "median"]
    })
)
clv_stats.columns = ["education_level", "gender", "min_clv", "max_clv", "median_clv"]
print(clv_stats.sort_values("median_clv", ascending=False))         
print(clv_stats.sort_values("median_clv", ascending=False))

        education_level gender      min_clv      max_clv   median_clv
7  High School or Below      M  1940.981221  83325.38119  6286.731006
6  High School or Below      F  2144.921535  55277.44589  6039.553187
3               College      M  1918.119700  61134.68307  6005.847375
8                Master      F  2417.777032  51016.06704  5729.855012
0              Bachelor      F  1904.000852  73225.95652  5640.505303
2               College      F  1898.683686  61850.18803  5623.611187
9                Master      M  2272.307310  50568.25912  5579.099207
5                Doctor      M  2267.604038  32677.34284  5577.669457
1              Bachelor      M  1898.007675  67907.27050  5548.031892
4                Doctor      F  2395.570000  44856.11397  5332.462694
        education_level gender      min_clv      max_clv   median_clv
7  High School or Below      M  1940.981221  83325.38119  6286.731006
6  High School or Below      F  2144.921535  55277.44589  6039.553187
3               College      M  1918.119700  61134.68307  6005.847375
8                Master      F  2417.777032  51016.06704  5729.855012
0              Bachelor      F  1904.000852  73225.95652  5640.505303
2               College      F  1898.683686  61850.18803  5623.611187
9                Master      M  2272.307310  50568.25912  5579.099207
5                Doctor      M  2267.604038  32677.34284  5577.669457
1              Bachelor      M  1898.007675  67907.27050  5548.031892
4                Doctor      F  2395.570000  44856.11397  5332.462694

**Insights:**
>
Customers with "High School or Below" education show the highest median CLV for both genders, especially males, indicating strong long-term value despite lower formal education levels.
>
Across most education levels, male customers tend to have slightly higher median CLV than females, although the differences are not large.
>
Doctorate-level customers show comparatively lower median CLV, suggesting that higher education does not necessarily translate into higher customer lifetime value in this dataset.
>
Overall, education level appears to influence CLV, but gender differences are moderate and should be interpreted with caution.

In [ ]:
# Bonus 5:
# Analyze the number of policies sold by state and month. 
# Present the data in a table where the months are arranged as columns and the states are arranged as rows.
# Policies sold by State (rows) and Month (columns)

# Parse the date column
df["effective_to_date"] = pd.to_datetime(df["effective_to_date"], errors="coerce")

# Create a month column (month number)
df["month"] = df["effective_to_date"].dt.month


# Sort months in ascending order
policy_counts = df.pivot_table(
    index="state",
    columns="month",
    aggfunc="size",
    fill_value=0
).sort_index(axis=1)

# show the result in descending order of total policies sold
policy_counts["total_policies"] = policy_counts.sum(axis=1)
policy_counts = policy_counts.sort_values("total_policies", ascending=False)
policy_counts = policy_counts.drop(columns=["total_policies"])


print(policy_counts)

# display the pivot table
policy_counts

month          1     2
state
California  1918  1634
Oregon      1565  1344
Arizona     1008   929
Nevada       551   442
Washington   463   425

month          1     2
state
California  1918  1634
Oregon      1565  1344
Arizona     1008   929
Nevada       551   442
Washington   463   425

**Insights:**
>
Policy sales are highly concentrated in California and Oregon across both months analyzed.
>
California leads consistently, making it the most important state in terms of sales volume.
>
Arizona also shows solid performance, while Nevada and Washington lag behind.
>
These patterns suggest that sales efforts and marketing resources may be most effective when prioritized in high-volume states, particularly at the beginning of the year.

In [ ]:
# Bonus 6:
# Find top 3 states by total policies sold,
# then show the number of policies sold by month for those states.

total_policies_by_state = (
    df.groupby("state")["policy"]
      .count()
      .sort_values(ascending=False)
)

top3_states = total_policies_by_state.head(3).index
print("\nTop 3 states by policies sold:", list(top3_states))

top3_policies_by_month = (
    df[df["state"].isin(top3_states)]
      .groupby(["state", "month"])["policy"]
      .count()
      .unstack(fill_value=0)
)
# show the result in descending order of total policies sold
top3_policies_by_month["total_policies"] = top3_policies_by_month.sum(axis=1)
top3_policies_by_month = top3_policies_by_month.sort_values("total_policies", ascending=False)
top3_policies_by_month = top3_policies_by_month.drop(columns=["total_policies"])

print("\nPolicies sold by Month for Top 3 states:")
print(top3_policies_by_month)

# display the pivot table
top3_policies_by_month

Top 3 states by policies sold: ['California', 'Oregon', 'Arizona']

Policies sold by Month for Top 3 states:
month          1     2
state
California  1918  1634
Oregon      1565  1344
Arizona     1008   929

month          1     2
state
California  1918  1634
Oregon      1565  1344
Arizona     1008   929

**Insights:**
>
California, Oregon, and Arizona are the top three states with the highest number of policies sold in both January and February. California leads by a significant margin, followed by Oregon and Arizona, showing consistent sales performance across months.
>
These states represent the strongest markets and should be prioritized for marketing and sales efforts.
>
The analysis is limited to the first two months of the year, so seasonal effects may not be fully captured.

In [ ]:

# Bonus 7:
# Marketing wants the response rate ("Yes") by sales channel.
# Steps:
# - Create a binary flag (1 if Yes else 0)
# - Compute mean of the flag by sales_channel (mean = response rate)

df["response_yes"] = (df["response"] == "Yes").astype(int)

response_rate_by_channel = (
    df.groupby("sales_channel")["response_yes"]
      .mean()
      .mul(100)
      .round(2)
      .sort_values(ascending=False)
)

print("\nResponse rate (%) by Sales Channel:")
print(response_rate_by_channel)

Response rate (%) by Sales Channel:
sales_channel
Agent          18.01
Web            10.89
Branch         10.79
Call Center    10.32
Name: response_yes, dtype: float64

**Insights:**
>
The Agent channel shows the highest response rate (18.01%), significantly outperforming all other sales channels. Web, Branch, and Call Center have similar and considerably lower response rates (around 10â€“11%).
>
This suggests that personalized, agent-driven interactions are more effective at converting customers in marketing campaigns.
>
Results are based on response rate only and do not account for revenue, costs, or long-term value.